<a href="https://colab.research.google.com/github/JAVAN91/WEEK-4-_IP-ON-Electric-Car-sharing-Service-Company/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2019_07_JAVAN_OKELO_Collab_Note_book.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Research Question

1.Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

Questions (Optional)

What is the most popular hour for returning cars?

What station is the most popular?

Overall?

At the most popular picking hour?

What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?

Overall?

At the most popular picking hour? 4.Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

1.READING DATA

1.1 IMPORTING LIBRARIES

In [1]:
import pandas as pd
import numpy as np

1.2 LOADING OUR DATA

In [2]:
#Reading the autolib_dataset provided 
#We will call our dataset "Autolib_dataset".
Autolib_dataset= pd.read_csv('/content/Autolib_dataset (2).csv')

1.3 VIEWING THE DATASET

In [3]:
#Viewing the first five entries of our dataset
#named Autolib_dataset.
Autolib_dataset.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [4]:
# Viewing the dataset shape i.e. number of rows and columns

Autolib_dataset.shape

(5000, 25)

In [5]:
# Viewing the dataset information(Autolib_dataset)

Autolib_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [6]:
# Viewing number of unique items in each column

Autolib_dataset.nunique()

Address                1104
Cars                      8
Bluecar counter           8
Utilib counter            3
Utilib 1.4 counter        4
Charge Slots              3
Charging Status           3
City                     88
Displayed comment        25
ID                     1105
Kind                      4
Geo point              1105
Postal code             107
Public name            1105
Rental status             4
Scheduled at              8
Slots                     8
Station type              3
Status                    3
Subscription status       3
year                      1
month                     1
day                       9
hour                     24
minute                   60
dtype: int64

In [7]:
# Viewing the data types in our dataset

Autolib_dataset.dtypes

Address                object
Cars                    int64
Bluecar counter         int64
Utilib counter          int64
Utilib 1.4 counter      int64
Charge Slots            int64
Charging Status        object
City                   object
Displayed comment      object
ID                     object
Kind                   object
Geo point              object
Postal code             int64
Public name            object
Rental status          object
Scheduled at           object
Slots                   int64
Station type           object
Status                 object
Subscription status    object
year                    int64
month                   int64
day                     int64
hour                    int64
minute                  int64
dtype: object

2.DATA CLEANING

(I)CHECKING ON VALIDITY OF THE DATA

In [8]:
#In checking the validity of the data , the first step included dropping columns that were irrelevant to our analysis.
#Based on the description both
#Scheduled at,Geo point,Displayed comment arent important for our analysis so we will opt to drop them
Autolib_dataset.drop(['Scheduled at','Geo point','Displayed comment'], axis = 1,inplace = True)

In [9]:
#checking the remaining columns
Autolib_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   ID                   5000 non-null   object
 9   Kind                 5000 non-null   object
 10  Postal code          5000 non-null   int64
 11  Public name          5000 non-null   object
 12  Rental status        5000 non-null   object
 13  Slots                5000 non-null   int64
 14  Station type         5000 non-null   object
 15  Status               5000 non-null   object
 16  Subscription status  5000 non-null   object
 17  year                 5000 non-null   int64
 18  month                5000 non-null   int64
 19  day                  5000 non-null   int64
 20  hour                 5000 non-null   int64
 21  minute               5000 non-null   int64
dtypes: int64(12), object(10)
memory usage: 859.5+ KB

(II)CHECKING ACCURACY OF THE DATA

Based on the description study

Accuracy of the data depends on the provided description

1.Values of blue cars range from (0-7)

2.cars=Blue cars

3Charging slots =0 if slots!='Operational'

4.Charging Stat("Future")=0

5.numbers in the Utilib 1.4 counter column range between (0-5)

6.Station type="Subcentres "=No resourses

7.The Utilib counter values range between (0-4)

In [10]:
#1.Values of blue cars range from (0-7)
Autolib_dataset['Slots'].unique()

array([2, 0, 1, 3, 4, 6, 5, 7])

In [11]:
#2.cars=Blue cars
#Autolib_dataset['Cars'] == Autolib_dataset['Bluecar counter']
comparison= [Autolib_dataset['Cars'] == Autolib_dataset['Bluecar counter']]

#define choices
choices = [True]

#create new column in DataFrame that displays results of comparisons
Autolib_dataset['Equal'] = np.select(comparison, choices, default='False')

#view the DataFrame
Autolib_dataset['Equal'].unique()

array(['True'], dtype=object)

In [12]:
#3.Charging slots =0 if slots!='Operational'
Autolib_dataset['Charging Status'].unique()

array(['nonexistent', 'operational', 'broken'], dtype=object)

In [13]:
#4.Charging Status("Future")=0
comparison = [(Autolib_dataset['Charging Status'] == 'future') & (Autolib_dataset['Charge Slots'] >= 0)]

#define choices
choices = [True]

#create new column in DataFrame that displays results of comparisons
Autolib_dataset['Charge_status_slots'] = np.select(comparison, choices, default='False')

#view the DataFrame
#Autolib_dataset['Future'].unique()
Autolib_dataset['Charge_status_slots'].unique()

array(['False'], dtype=object)

In [14]:
#5.numbers in the Utilib 1.4 counter column range between (0-5)
Autolib_dataset['Utilib 1.4 counter'].unique()

array([0, 2, 1, 3])

In [15]:
#6.Station type="Subcentres "=No resourses
Autolib_dataset['Station type'].unique()

array(['station', 'full_station', 'subs_center'], dtype=object)

In [16]:
#7.The Utilib counter values range between (0-4)
Autolib_dataset['Utilib counter'].unique()

array([0, 1, 2])

(III)CHECKING COMPLETENESS OF THE DATA

In [17]:
#This involves checking on the null values and missing values in the data available in our data 

Autolib_dataset.isnull().sum()
#Observation shows that there isnt any null value withn the data in the columns available for the dataset

Address                0
Cars                   0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
ID                     0
Kind                   0
Postal code            0
Public name            0
Rental status          0
Slots                  0
Station type           0
Status                 0
Subscription status    0
year                   0
month                  0
day                    0
hour                   0
minute                 0
Equal                  0
Charge_status_slots    0
dtype: int64

In [18]:
#Well then check on the duplicate values in our data

#Autolib_dataset.drop_duplicates().any()
Autolib_dataset.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

(IV) CHECKING ON THE COMPLETENESS OF THE DATA

Converting the year,month,day,hour,minute to datetime

In [19]:
Autolib_dataset['Date'] = pd.to_datetime(Autolib_dataset[['year','month','day','hour','minute']])
Autolib_dataset

                                 Address  ...                Date
0                    2 Avenue de Suffren  ... 2018-04-08 11:43:00
1              145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2       2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00
3                 51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4     6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00
...                                  ...  ...                 ...
4995                 8 avenue MÃ©nelotte  ... 2018-04-06 11:26:00
4996                   37 rue de Dantzig  ... 2018-04-04 16:56:00
4997                      142 rue du Bac  ... 2018-04-01 07:01:00
4998         2 avenue du Val de Fontenay  ... 2018-04-04 17:27:00
4999                 5 Rue Henry Brisson  ... 2018-04-08 10:02:00

[5000 rows x 25 columns]

In [20]:
#Drop the (year,month,day,hour,minute)
Autolib_dataset.drop(['year','month','day','hour','minute'],axis=1,inplace=True)
Autolib_dataset.head()

                              Address  ...                Date
0                 2 Avenue de Suffren  ... 2018-04-08 11:43:00
1           145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2    2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00
3              51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00

[5 rows x 20 columns]

In [21]:
Autolib_dataset['Date'].unique()

array(['2018-04-08T11:43:00.000000000', '2018-04-06T07:24:00.000000000',
       '2018-04-03T20:14:00.000000000', ...,
       '2018-04-01T20:49:00.000000000', '2018-04-06T11:26:00.000000000',
       '2018-04-04T17:27:00.000000000'], dtype='datetime64[ns]')

3.DATA ANALYSIS

1.Question 1
(Research Question)

In [22]:
#Data first analysed based on the questions available first
#1.Identify the most popular hour of the day for picking up a shared electric car 
#(Bluecar) in the city of Paris over the month of April 2018.
#ill first sign a variable to the function
#check on the month which is April
#check on city which is paris
#check on the Blue Counter which is car
#then time
Autolib_dataset[Autolib_dataset['City']=='Paris'].pivot_table(index=Autolib_dataset['Date'].dt.hour ,values = "Bluecar counter" , aggfunc ='sum').min()

#Most popular hour is 6

Bluecar counter    149
dtype: int64

In [29]:
#checking whole data
Autolib_dataset[Autolib_dataset['City']=='Paris'].pivot_table(index=Autolib_dataset['Date'].dt.hour ,values = "Bluecar counter" , aggfunc ='sum')

      Bluecar counter
Date
0                 206
1                 207
2                 221
3                 242
4                 209
5                 235
6                 260
7                 225
8                 234
9                 250
10                232
11                201
12                250
13                207
14                163
15                218
16                208
17                187
18                192
19                193
20                149
21                268
22                197
23                191

2.Oprional Questions

In [31]:
# What is the most popular hour for returning cars?
Autolib_dataset[Autolib_dataset['City']=='Paris'].pivot_table(index=Autolib_dataset['Date'].dt.hour ,values = "Bluecar counter" , aggfunc ='sum').max()

Bluecar counter    268
dtype: int64

In [24]:
#What station is the most popular?

#Overall?
#At the most popular picking hour?

#overall
Autolib_dataset.groupby(['ID','Postal code','City']).resample('M' , on='Date')['Bluecar counter'].count().nlargest(1)

ID                        Postal code  City   Date
paris-portedemontrouge-8  75014        Paris  2018-04-30    13
Name: Bluecar counter, dtype: int64

In [25]:
#At the most porpular picking hours
Autolib_dataset.groupby(['ID']).resample('H' , on='Date')['Bluecar counter'].count().nlargest(1)

ID                                 Date
paris-pasteurmontparnasse-parking  2018-04-03 09:00:00    3
Name: Bluecar counter, dtype: int64

In [45]:
#What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?

#Overall?
#At the most popular picking hour?
#overall
Postal=Autolib_dataset[(Autolib_dataset['Charging Status']=='operational')&(Autolib_dataset['Rental status']=='operational')]['Bluecar counter'].value_counts().max()
Autolib_dataset.loc[Postal]['Postal code']

75015

In [46]:
#At the most popular picking hour?
Autolib_dataset.loc[Postal]

Address                       15 rue Olier
Cars                                     4
Bluecar counter                          4
Utilib counter                           0
Utilib 1.4 counter                       0
Charge Slots                             0
Charging Status                operational
City                                 Paris
ID                          paris-olier-15
Kind                               STATION
Postal code                          75015
Public name                 Paris/Olier/15
Rental status                  operational
Slots                                    1
Station type                       station
Status                                  ok
Subscription status            nonexistent
Equal                                 True
Charge_status_slots                  False
Date                   2018-04-06 22:29:00
Name: 560, dtype: object

In [47]:
#Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?
Autolib_dataset.groupby('Bluecar counter').count()

                 Address  Cars  ...  Charge_status_slots  Date
Bluecar counter                 ...
0                   1447  1447  ...                 1447  1447
1                    663   663  ...                  663   663
2                    628   628  ...                  628   628
3                    672   672  ...                  672   672
4                    636   636  ...                  636   636
5                    574   574  ...                  574   574
6                    341   341  ...                  341   341
7                     39    39  ...                   39    39

[8 rows x 19 columns]

In [48]:
Autolib_dataset

                                 Address  ...                Date
0                    2 Avenue de Suffren  ... 2018-04-08 11:43:00
1              145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2       2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00
3                 51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4     6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00
...                                  ...  ...                 ...
4995                 8 avenue MÃ©nelotte  ... 2018-04-06 11:26:00
4996                   37 rue de Dantzig  ... 2018-04-04 16:56:00
4997                      142 rue du Bac  ... 2018-04-01 07:01:00
4998         2 avenue du Val de Fontenay  ... 2018-04-04 17:27:00
4999                 5 Rue Henry Brisson  ... 2018-04-08 10:02:00

[5000 rows x 20 columns]